body{
    background-color:rgb(245, 248, 249);
}

h2{
    display: flex;
    justify-content: center;
}

.Container{
    display:flex;
    width: 150px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 241);
    margin-left: 20px;
    border-radius: 10px;
    
}

img{
    width: 90%;
    height: 60%;
    margin-left: 7px;
    
}

.card{
    display: block;
    justify-content: center;
    align-items: center;
    

}

.info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Agregar{
    background-color:rgb(54, 98, 10);
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque;
    border-radius: 10px;
    

}